<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>github</id>
            <username>surabhi-mahawar</username>
            <password>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</password>
        </server>
    </servers>
</settings>