<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>github-message-rosa-package</id>
            <username>surabhi-mahawar</username>
            <password>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</password>
        </server>
        <server>
            <id>github-utils-package</id>
            <username>surabhi-mahawar</username>
            <password>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</password>
        </server>
    </servers>
</settings>